@media only screen and (max-width: 1024px) {

    .header-image {
        margin: auto;
        align-items: center;
        max-width: 95%;
    }

    main {
        width: 95%;
        height: auto;
        margin: auto;
        text-align: center;
    }
    

    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }

    .main-card {
        width: 100%;
        height: auto;
    }
    
    .card-image img {
        width: 50%;
        height: auto;
        border-radius: 2px;
    }

    .modal-content {
        width: 100%;
        }

    .wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
        grid-auto-rows: minmax(24px, auto);
        width: 86%;
        margin: auto;
        padding: 24px;
    }
    .one {
        grid-column: 1;
        grid-row: 1;
    }
    .two {
        grid-column: 2;
        grid-row: 1;
    }
    .three {
        grid-column: 1;
        grid-row: 2;
    }
    .four {
        grid-column: 2;
        grid-row: 2;
    }
    .five {
        grid-column: 1;
        grid-row: 3;
    }
    .six {
        grid-column: 2;
        grid-row: 3;
    }
}

@media only screen and (max-width: 768px) {
    .header-image {
        margin: auto;
        align-items: center;
        max-width: 95%;
    }

    main {
        width: 95%;
        height: 300px;
        margin: auto;
        text-align: center;
    }
    

    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }

    .main-card {
        width: 100%;
        height: auto;
    }
    
    .card-image img {
        width: 50%;
        height: auto;
        border-radius: 2px;
    }

    .modal-content {
        width: 100%;
        }

    .wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
        grid-auto-rows: minmax(24px, auto);
        width: 86%;
        margin: auto;
        padding: 24px;
    }
    .one {
        grid-column: 1;
        grid-row: 1;
    }
    .two {
        grid-column: 2;
        grid-row: 1;
    }
    .three {
        grid-column: 1;
        grid-row: 2;
    }
    .four {
        grid-column: 2;
        grid-row: 2;
    }
    .five {
        grid-column: 1;
        grid-row: 3;
    }
    .six {
        grid-column: 2;
        grid-row: 3;
    }
}

@media only screen and (max-width: 414px) {
    
    .header-image {
        margin: auto;
        align-items: center;
        max-width: 95%;
    }

    main {
        width: 95%;
        height: 400px;
    
        margin: auto;
        text-align: center;
    }
    

    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }

    .modal-content {
        width: 100%;
        }

    .wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
        grid-auto-rows: minmax(24px, auto);
        width: 86%;
        margin: auto;
        padding: 24px;
    }
    .one {
        grid-column: 1;
        grid-row: 1;
    }
    .two {
        grid-column: 1;
        grid-row: 2;
    }
    .three {
        grid-column: 1;
        grid-row: 3;
    }
    .four {
        grid-column: 1;
        grid-row: 4;
    }
    .five {
        grid-column: 1;
        grid-row: 5;
    }
    .six {
        grid-column: 1;
        grid-row: 6;
    }

}