body {
    padding: 0%;
    font-family: "Red-Hat-Display", Lato, Tahoma, sans-serif;
    font-size: 16px;
    margin: auto;
    width: 1920px;
    background-color: rgb(39, 39, 39);
    color: white;
}

.header-image {
    align-items: center;
    margin: auto;
    border: solid peru 5px;
}

.main-card {
    border: solid red 1px;
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255, 0.5);
}

.main-image {
    border: solid rgb(30, 255, 0) 1px;
}

.main-text {
    border: solid rgb(255, 0, 255) 1px;
}

.main-text h1{
    color: royalblue;
}

.main-text h3{
    color: royalblue;
}

.button-rs {
    background-color: yellow;
    color: black;
    border: solid rgb(0, 255, 221) 1px;
}