body {
    padding: 0%;
    font-family: 'Glegoo', serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url(./img/MicrosoftTeams-image.png);
    background-repeat:no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(245, 188, 1);
    font-weight: 900;
    font-size: 2em;
}

h2{
    color: rgb(245, 188, 1);
    font-weight: 700;
    font-size: 1.5em;
}

h3 {
    color: #001f61;
    font-weight: 700;
    font-size: 1.25em;
    font-family: "Glegoo";
}

header {
    display: flex;
    padding-top: 48px;
}

.header-image {
    margin: auto;
    align-items: center;
    max-width: 40%;
}

main {
    width: 80%;
    margin: auto;
    text-align: center;
}



main h1{
    padding-top: 32px;
}

main p{
    height: 100px;
}

.main-card {
    width: 100%;
    height: auto;
    border: solid white 2px;
    padding: 16px 24px;
    border-radius: 4px;    
}

.main-card img {
    /* width: 100%;
    height: auto; */
    border-radius: 2px;
    border: coral 3px solid;
    object-fit: cover;
}

.card-text {
    margin: auto;
    display: block;
}

.card-text button{
    margin: auto;
    display: block;
}

.card-text h2{
    text-align: center;
    padding: 8px;
    margin: 0;
}

.card-text h3{
    text-align: center;
    color: rgb(245, 188, 1);
    padding-bottom: 16px;
    margin: 0;
}

.button-rs {
    background-color: rgb(22, 43, 87);
    border: solid white 1px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px 16px;
    margin: 16px;
    width: 80%;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s;
}

.myImg:hover {opacity: 0.5;}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    padding-bottom: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one2 {
    grid-column: 1;
    grid-row: 1;
}
.two2 {
    grid-column: 2;
    grid-row: 1;
}
.three2 {
    grid-column: 3;
    grid-row: 1;
}  

  /* Modal Content */
.modal-content {
    background-color: #071c7a;
    height: auto;
    position: relative;
    margin: auto;
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 12px;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    color: white;
}

  /* Modal Body */
.modal-body {
    padding: 60px;
    border: solid rgb(255, 255, 255) 2px;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.questions {
    padding-bottom: 16px;
    height: 60px;
    margin: 0%;
    padding: 0;
}
.questions h4{
    padding: 0%;
    height: 25px;
}

.questions p{
    margin: 0%;
    padding: 0;    
}


  /* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #d6c800;
    color: white;
}



  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

  /* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

  /* The Close Button */
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Start Grid Section */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    grid-auto-rows: minmax(24px, auto);
    width: 86%;
    margin: auto;
    padding: 24px;
}
.one {
    grid-column: 1;
    grid-row: 1;
}
.two {
    grid-column: 2;
    grid-row: 1;
}
.three {
    grid-column: 3;
    grid-row: 1;
}
.four {
    grid-column: 1;
    grid-row: 2;
}
.five {
    grid-column: 2;
    grid-row: 2;
}
.six {
    grid-column: 3;
    grid-row: 2;
}

/* End Grid Section */

.footer-btn {
    background-color: white;
    border-radius: 6px;
    padding: 8px 16px;
    margin-bottom: 16px;
    width: 300px;
    border: none;
    height: 40px;
}

footer {
    text-align: center;
    margin: auto;
}
footer h2{
    text-align: center;
    margin: auto;
    letter-spacing: 5px;
    padding-bottom: 100px;
    padding-top: 8px;
}

footer h3{
    margin-top: -10px;
    margin-bottom: -10px;
}