body {
    padding: 0%;
    font-family: "Red-Hat-Display", Lato, Tahoma, sans-serif;
    font-size: 16px;
    margin: auto;
    width: 1920px;
    background-color: rgb(39, 39, 39);
    color: white;
}